[submodule "general-utils"]
	path = general-utils
	url = https://github.com/tiksem/general-utils.git
[submodule "android-utils"]
	path = android-utils
	url = https://github.com/tiksem/android-utils.git
